<%- include('../inc/top.ejs') %>


    <div class="row">
        <div class="col-12 col-sm-3"></div>

        <div class="col-12 col-sm-6 card mt-5">

            <h1 style="text-align: center; margin-top: 10px;">CẬP NHẬT TRẠNG THÁI</h1>

            <% if(msg.length > 0) { %>
                <p><%= msg %></p>
            <% } %>

            <form action="" method="post">
                <p>Tên sản phẩm: <%= objSP.name %></p>

                <p>Giá sản phẩm: <%= objSP.price %></p>

                <label class="form-label">Ảnh</label>
                <img src="<%= objSP.img %>" alt="" width="90" height="105"> <br>

                <p>Số lượng: <%= objSP.soLuong %></p>

                <label for="" class="form-label">Trạng thái</label>
                <select name="trangThai" id="" class="form-control">
                    <% listSp.forEach( (objsp) => { %>
                        <option value="<%= objsp.trangThai %>"><%= objsp.trangThai %></option>
                    <% }) %>
                </select> <br>

                <button style="margin-left: 100px; margin-top: 20px;">SAVE</button>
            </form>

        </div>

        <div class="col-12 col-sm-3"></div>
    </div>


<%- include('../inc/bottom.ejs') %>